@import "tailwindcss";

/* html {
  font-family: 'Inter', sans-serif; 
}

* {
  font-family: inherit;
} */
h2,
h3 {
  font-size: xx-large !important;
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}